*{
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 2em 1.5em;
}
.button-primary-brasil-empatou{
    margin: 1em auto;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}
.grid-container{
    color: #000;
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto;
}
.grid-item{    
    background-color: #fff;
    border: #eee 1px solid;
    padding: 1em;
}
.grid-item h3{
   margin-bottom: .5em
}
.grid-item p{
   color: #666;
   text-align: justify;
}
.grid-item p + p{
   margin-top: .1em
}

h6{
    color: #333;
    text-align: center;
    margin: 1em 0;
}